
Project5/report/main.aux
Project5/report/main.bbl
Project5/report/main.bcf
Project5/report/main.blg
Project5/report/main.fdb_latexmk
Project5/report/main.fls
Project5/report/main.log
Project5/report/main.run.xml
Project5/report/main.synctex.gz
Project5/report/main.toc
Project5/.vscode/settings.json
Project5/python/__pycache__/plot_functions.cpython-37.pyc
Project5/python/__pycache__/py_functions.cpython-37.pyc
